.cont {
    width: 83%;
    position: absolute;
    right: 0;
    height: 100%;
    bottom: 0;
    top: 0;
    padding: 20px;
}

.date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date_theme {
    display: flex;
    align-items: center;
    gap: 14px;
    color: white;
}

.data_theme {
    font-size: 13px;
    color: #cbc8c8;
}

.date button {
    background: linear-gradient(271.88deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    border: none;
    color: white;
    padding: 7px;
    width: 100px;
    font-size: 18px;
    width: 140px;
    cursor: pointer;
}

.date h3 {
    font-size: 24px;
}

.boxes {
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.balance, .box, .box2 {
    background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0F0B38 93.37%);
    box-shadow: 0px 4px 25px rgb(0 0 0 / 25%);
    border-radius: 5px;
    width: 17%;
    height: 43vh;
    padding: 10px;
}

.chart2 {
    transform: translate(49px, -38px);
    overflow: hidden;
}

.box2 {
    height: 27.5vh;
    width: 55.8%;
}
.box {
    overflow: hidden;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.block select {
    background: transparent;
    border: none;
    color: #c4c4c4;
    outline: none;
}

.box h3 {
    color: white;
    margin-top: 30px;
    margin-bottom: 3px;
}

.box span:nth-child(3) {
    color: #c4c4c4;
    font-size: 12px;
}

.balance h4 {
    color: white;
    font-weight: 400;
}

.chartpie img {
    width: 200px;
    transform: translateX(-6px);
}

.numbers {
    display: flex;
    flex-direction: column;
    transform: translateY(-20px);
    gap: 3px;
    margin-top: 51px;
}

.numbers span {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 10px;
}

.numbers span b {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 8px;
}

.numbers span .blue {
    color: #000dff;
}

.yellow {
    color: yellow;
}

.select {
    display: flex;
    justify-content: space-between;
}

.select select {
    background: transparent;
    border: none;
    color: #c4c4c4;
}

.box {
    width: 250px;
    height: 308px;
}

.ractengle {
    background: linear-gradient(237.07deg, #604392 -8.06%, #0F0B38 96.63%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 48%;
    height: 48%;
    padding: 10px;
    color: white;
}

.imgs {
    display: flex;
    align-items: center;
}

.imgs img {
    transform: translateY(10px);
}

.num {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.num span:nth-child(2) {
    color: #c4c4c4;
}

.btc_course {
    width: 58%;
}

.main {
    display: flex;
    gap: 40px;
}

.btc_course {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.second_back {
    background: linear-gradient(237.07deg, #D66168 -8.06%, #0F0B38 96.63%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.third_back {
    background: linear-gradient(237.07deg, #6162D6 -8.06%, #0F0B38 96.63%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.fourth_back {
    background: linear-gradient(237.07deg, #EB8338 -8.06%, #0F0B38 96.63%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.news {
    background: linear-gradient(185.19deg, rgba(27, 18, 78, 0.2) 3.73%, #0F0B38 95.83%);
    border-radius: 5px;
    width: 40%;
    height: 24%;
    padding: 10px;
    overflow: hidden;
}

.news h4 {
    color: white;
}

.new {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new li {
    display: flex;
    color: white;
}

.new li p {
    position: absolute;
    margin-left: 120px;
}

.new li {
    position: relative;
}

.new li span {
    font-size: 14px;
    width: 100px;
}

.news {
    box-shadow: inset 10px 10px 200px -50px rgba(0, 0, 0, 0.6);
}

.chartpie {
    width: 146px;
    transform: translate(24px, 10px);
}
.chart2 {
    transform: translate(113px, -19px);
    overflow: hidden;
    width: 353px;
}
.first_line span{  
    display: flex;
    align-items: center; 
    font-size: 8px;
    width: 100px;
    gap: 0px;
}
.first_line span img{  
    width: 18px;
}
.first_line{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_line .line{
    border: 0.5px solid #644696;
}